@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, forest;
}

/* py-config - not a component */
py-config {
  display: none
}

/* py-{el} - components not defined */
py-script:not(:defined) {
  display: none
}

py-repl:not(:defined) {
  display: none
}

.py-overlay, .py-pop-up, .label {
  display: none;
}
